$hover-color: #c49782;
#about-desc {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;

  .desc-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .square {
      position: absolute;
      background-color: #f6ece3;
      width: 400px;
      height: 600px;
      z-index: -1;
      left: calc(50% - 400px);
      top: 50px;
    }

    img {
      max-width: 500px;
      max-height: 650px;
      -webkit-box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
    }
  }

  .desc-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .desc-text-title {
      width: 100%;
      height: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title-wrapper {
        display: flex;
        position: absolute;
        left: 45%;

        h1 {
          font-family: "Cookie", cursive;
          font-size: 5rem;
          letter-spacing: 3px;
          transition: 0.1s;
          margin-left: 5px;
          cursor: default;

          &:hover {
            color: $hover-color;
            transform: translateY(-10px) !important;
          }
        }
      }
    }

    .desc-text-content {
      width: 100%;
      height: 75%;
      display: flex;
      padding: 0px 55px;
      flex-direction: column;
      text-align: justify;
      overflow: hidden;

      p {
        letter-spacing: 1px;
        font-size: 20px;
        margin: 25px;
      }
    }
  }
}

#training-about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 50px;
  overflow: hidden;

  .training-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .training-text-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .title-wrapper {
        display: flex;
        position: absolute;
        left: 25%;
        top: 0%;

        h1 {
          font-family: "Cookie", cursive;
          font-size: 5rem;
          transition: 0.1s;
          cursor: default;
          z-index: 100;
          margin-left: 5px;

          &:hover {
            color: $hover-color;
            transform: translateY(-10px) !important;
          }
        }
      }
    }

    .training-text-content {
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding: 0px 55px;
      p {
        letter-spacing: 1px;
        font-size: 20px;
        margin: 25px;
      }
    }
  }

  .training-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .training-square {
      position: absolute;
      background-color: #f6ece3;
      width: 500px;
      height: 600px;
      z-index: -1;
      left: 0;
      top: 0;
    }

    img {
      max-width: 500px;
      max-height: 650px;
      -webkit-box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
      box-shadow: 0px 0px 14px 1px rgba(66, 68, 90, 1);
    }
  }
}
#slider {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px 0;
  height: 500px;
  .slider-container {
    position: relative;
    max-width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-img {
      position: absolute;
      bottom: 0px;
      right: -210px;
      opacity: 0.2;
      max-height: 400px;
    }
    .slick-slider {
      width: 100%;
      padding: 40px 0;
      .slick-list {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .slick-track {
          display: flex;
          height: 100% !important;
          align-items: center;
          justify-content: center;

          .slider-element {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            h3 {
              width: 100%;
              color: black;
              text-align: center;
            }
            p {
              margin-top: 20px;
              text-align: center;
              font-size: 18px;
              width: 90%;
              line-height: 30px;
            }
          }
          height: 100%;
        }
      }
      .slick-arrow::before {
        color: #a37943;
        font-size: 30px;
        display: none;
      }
    }
  }
}
#certificates {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 50px 0;

  .title-wrapper {
    position: relative;
    display: flex;
    h1 {
      font-family: "Cookie", cursive;
      font-size: 5rem;
      transition: 0.1s;
      cursor: default;
      z-index: 100;
      margin-left: 5px;
      margin-top: 100px;

      &:hover {
        color: $hover-color;
        transform: translateY(-10px) !important;
      }
    }
  }

  div {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .cert-container {
    padding-top: 150px;
    height: 100%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
  }
  .cert {
    border: 2px solid #c49f6e;
    border-radius: 10px;
    flex-basis: 1;
    position: relative;
    background-color: #dac3a4;
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    cursor: pointer;
    overflow: hidden;

    &:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;

      img {
        transform: rotate(-90deg);
        width: 400px;
        height: 300px;
        &:hover {
          transform: scale(1.05) rotate(-90deg);
        }
      }
    }
    img {
      width: 100%;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.color-border {
  width: 100%;
  height: 30px;

  &:nth-of-type(1) {
    background-color: #dac3a4;
  }
  &:nth-of-type(2) {
    background-color: #d1b38d;
  }
  &:nth-of-type(3) {
    background-color: #c49f6e;
  }
  &:nth-of-type(4) {
    background-color: #a37943;
  }
}

@media screen and(min-width: 2050px) {
  #about-desc {
    .desc-img {
      .square {
        left: calc(50% - 600px);
        width: 600px;
        height: 800px;
      }

      img {
        max-width: 850px;
        max-height: 900px;
      }
    }
  }

  #training-about {
    .training-img {
      .training-square {
        width: 600px;
        height: 800px;
      }
      img {
        max-width: 850px;
        max-height: 900px;
      }
    }
  }
}

@media screen and(max-width: 1680px) {
  #about-desc {
    .desc-img {
      .square {
        top: 10px;
        left: calc(50% - 400px);
        width: 400px;
        height: 490px;
      }

      img {
        width: 400px;
        height: 530px;
      }
    }

    .desc-text {
      .desc-text-title {
      }

      .desc-text-content {
        p {
          margin: 20px;
          font-size: 15px;
        }
      }
    }
  }

  #training-about {
    .training-img {
      .training-square {
        width: 400px;
        height: 490px;
      }

      img {
        width: 400px;
        height: 530px;
      }
    }

    .training-text {
      padding: 30px;

      .training-text-title {
        .title-wrapper {
          left: 0;
          position: inherit;
        }
      }

      .training-text-content {
        padding: 0;
        p {
          margin: 20px;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and(max-width: 1120px) {
  #about-desc {
    .desc-img {
      .square {
        left: calc(50% - 400px);
        width: 400px;
        height: 550px;
      }

      img {
      }
    }

    .desc-text {
      .desc-text-title {
      }

      .desc-text-content {
        p {
          margin: 10px;
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and(max-width: 960px) {
  #about-desc {
    .desc-img {
      .square {
        width: 35%;
        height: 100%;
        left: 0;
      }
    }

    .desc-text {
      .desc-text-title {
        .title-wrapper {
          h1 {
            font-size: 4rem;
          }
        }
      }

      .desc-text-content {
        p {
          font-size: 13px;
        }
      }
    }
  }

  #training-about {
    .training-text {
      .training-text-title {
        .title-wrapper {
          left: 10%;
          h1 {
            font-size: 3rem;
          }
        }
      }
    }

    .training-img {
      position: unset;
      .training-square {
        left: auto;
        right: 0;
        width: 35%;
        height: 100%;
      }
    }
  }
}

@media screen and(max-width: 760px) {
  #about-desc {
    .desc-img {
      .square {
        width: 35%;
        height: 100%;
        left: 0;
      }

      img {
        width: 350px;
        height: 490px;
      }
    }

    .desc-text {
      position: relative;
      height: auto;
      .desc-text-title {
        height: 10%;

        .title-wrapper {
          position: inherit;

          h1 {
            font-size: 2rem;
          }
        }
      }

      .desc-text-content {
        height: 90%;

        p {
          font-size: 0.8rem;
          margin: 20px;
        }
      }
    }
  }

  #training-about {
    .training-text {
      .training-text-title {
        .title-wrapper {
          left: 10%;
          h1 {
            font-size: 2rem;
          }
        }
      }
      .training-text-content {
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {
  #about-desc {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;

    .desc-img {
      width: 100%;
      height: 50%;

      .square {
        top: 0;
        width: 50%;
        height: 100%;
      }

      img {
        margin-top: 50px;
        max-width: 300px;
        max-height: 400px;
      }
    }

    .desc-text {
      width: 100%;
      margin-top: 50px;

      height: 50%;

      .desc-text-title {
        h1 {
        }
      }

      .desc-text-content {
        text-align: center;
        p {
        }
      }
    }
  }

  #training-about {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    .training-img {
      width: 100%;
      height: 50%;
      position: unset;

      img {
        width: 300px;
        height: 400px;
        margin-top: 40px;
      }
      .training-square {
        width: 50%;
      }
    }

    .training-text {
      height: 50%;
      width: 100%;
      .training-text-content {
        text-align: center;
      }
    }
  }
}

@media screen and(max-width: 500px) {
  #slider {
    .slider-container {
      overflow-x: hidden;
      max-width: 100%;
      .svg-img {
        width: 100%;
        left: 15px;
      }

      .slick-slider {
        .slick-list {
          .slick-track {
            .slider-element {
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width: 375px) {
  #about-desc {
    .desc-text {
      .desc-text-content {
        justify-content: center;
        align-items: center;
        p {
          width: 100%;
        }
      }
    }
  }
  #training-about {
    margin: 0;
  }
  #certificates {
    .cert-container {
      gap: 0;
    }
    .slider-container {
      max-width: 100%;
      width: 100%;
      padding-top: 0;
      .slick-slider {
        .slick-list {
          .slider-element {
            p {
              font-size: 15px;
            }
          }
        }
      }
      .slick-arrow::before {
        display: none;
      }
      .svg-img {
        width: 200px;
        left: 10%;
        top: 100px;
        position: absolute;
      }
    }
    .cert {
      width: 250px;
      height: 300px;
      margin-top: 10px;
    }
  }
}
