@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

nav {
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    // background-color: #d4b895;
    background: #faf7f5;
}

.logo {
    font-family: 'The Nautigal', cursive;
    font-size: 50px;
    width: 50%;
    height: 100%;
    padding: 0 0 0 50px;
    display: flex;
    align-items: center;
}

.navigation {
    font-family: 'Raleway', sans-serif;
    width: 50%;
    height: 100%;

    ul {
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        list-style: none;
        align-items: center;
        padding: 0;
        margin: 0;
        align-items: center;
        height: 100%;

    }



    .navigation-link {
        text-decoration: none;
        color: black;
        transition: .3s;
        position: relative;

        &:hover {
            color: grey;
        }

        &:hover:after {
            width: 100%;

        }

        &:after {
            content: "";
            position: absolute;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -5px;
            background-color: #d4b895;
            transition: .3s;
        }
    }
}



@media screen and(max-width: 960px) {
    nav {
        flex-direction: row-reverse;
    }

    .logo {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .navigation {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 10%;
    }

    .hamburger {
        font-size: 25px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            color: #d4b895;
        }
    }
}

@media screen and (max-width: 375px) {
    .logo {

        font-size: 35px;
    }
}